.text-white{
    color: white;
}

#verbs-container{
    margin: 0 35%;
}

.verbs-Answer{
    display: block;
}

.right-answer, .right-answer:hover{
    background-color: #6ab04c;
    border-color: #6ab04c;
    color: #fff;
}

.wrong-answer, .wrong-answer:hover{
    background-color: #b33030;
    border-color: #b33030;
    color: #fff;
}

#next{
    margin: 40px;
    margin-top:8rem;
    cursor:pointer;
    color:green;
}

h1{
    color: black;
}

#showVerb{
    text-align: center;
}

#verbs-container{
    text-align: center;
}

#all-right-counter{
    color: #6ab04c;
    font-weight: bold;
}

#all-wrong-counter{
    color: #b33030;
    font-weight: bold;
}

#restart{
    display: none;
}